


.header-card{
margin-top:64px;
display: flex;
flex-direction: row;
justify-content: space-around;
width: 1312px;
align-items: center;
}

.header-content{
    padding:48px;
}

.header-text{
display: flex;
flex-direction: column;
align-items: flex-start;
gap: 24px;
align-self: stretch;
}

.header-actions{
    display: flex;
    padding-top: 16px;
    align-items: flex-start;
    gap: 16px;
}

.header-image{
    height: 500px;
}